*{
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #ecf0f1 !important;
}

#loading{
    width: 100%;
    position: fixed;
    height: 100vh;
    background: #ecf0f1 url(loading.gif) no-repeat center;
    z-index: 99999;
}

nav{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.527) ;
}

.para1{
    font-size: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom:0 ;
    font-weight: bolder;
}

#alert1{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0;
    text-align: center;
    background-color: rgba(126, 126, 126, 0.062);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.096);
    
}

.card{
    border: none !important;
    margin-right: 10px;
    
}

.card-body{
    background-color: rgba(126, 126, 126, 0.062);
    border: 1px #e5e9ea solid;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.199);
    transition: ease-in-out 0.2s;
}

.card-body:hover{
    box-shadow: 0px 0px 4px #009dff7c;
    border: 1px #009dff solid;
}

#aryan{
    transition: ease-in-out 0.2s;
}

#aryan:hover{
    color: #009dff;
}

.pro{
    
    margin-top: 20px;
}

.border{
    margin-bottom: 30px;
}


i{
    color: #009dff;
    transition: ease-in-out 0.2s;
}

i:hover{
    color: chocolate;
}

.links{
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.links:hover{
    text-decoration: none;
    color: #009dff;
}

.al{
    text-align: center;
    margin-bottom: 30px;
}